<script>
      (function(s,u,r,f,l,y){s[f]=s[f]||{init:function(){s[f].q=arguments}};
      l=u.createElement(r);y=u.getElementsByTagName(r)[0];l.async=1;
      l.src='https://surfly.com/surfly.js';y.parentNode.insertBefore(l,y);})
      (window,document,'script','Surfly');
      Surfly.init({widget_key:'5cb26b642f25440ab130d317dc561fc5'}, function(init) {
        if (init.success) {
        // display the default Surfly button
          Surfly.button();
        }
      });
</script>

Page for clients, assigned to ifa A1

<span>fees:</span>
<input type="text" size="20" data-stripe="number" surfly_private>